.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.filters {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    flex-wrap: wrap;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
}

.filterGroup {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.filterButton {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    font-size: 14px;

    &::before {
        content: "•";
        margin-right: 5px;
    }

    &.active::before {
        content: "✔";
        color: #007bff;
    }

    @media (max-width: 768px) {
        padding: 5px 8px;
        font-size: 12px;
    }

    @media (max-width: 480px) {
        padding: 3px 6px;
        font-size: 10px;
    }
}

.ramyunListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.ramyunList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.ramyunItem {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ramyunImg {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
}

h3 {
    width: 100%;
    height: 2em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

    button {
        color: #333;
        border: none;
        background-color: #fff0d8;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }

        &.activePage {
            background-color: #ffab21;
        }

        @media (max-width: 768px) {
            padding: 8px 15px;
            font-size: 12px;
        }

        @media (max-width: 480px) {
            padding: 5px 10px;
            font-size: 10px;
        }
    }

    span {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }

    .prevButton,
    .nextButton {
        background: hsl(211, 64%, 54%);
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }

        @media (max-width: 768px) {
            padding: 8px 15px;
            font-size: 12px;
        }

        @media (max-width: 480px) {
            padding: 5px 10px;
            font-size: 10px;
        }
    }
}

@media (max-width: 768px) {
    .ramyunListContainer {
        padding: 10px;
        max-width: 90%;
    }

    .ramyunItem {
        width: 100px;
        height: 100px;
    }

    .ramyunImg {
        width: 75px;
        height: 75px;
    }

    h3 {
        font-size: 12px;
    }

    // .filters {
    //     padding: 5px;
    //     margin-left: 7%;
    //     max-width: 75%;
    // }

    .filterButton {
        padding: 5px 8px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .ramyunListContainer {
        padding: 5px;
        max-width: 100%;
    }

    .ramyunItem {
        width: 75%;
        height: auto;
    }

    .ramyunImg {
        width: 75%;
        height: auto;
    }

    h3 {
        font-size: 12px;
    }

    // .filters {
    //     margin-left: 10%;
    //     padding: 5px;
    //     max-width: 100%;
    // }

    .filterButton {
        padding: 3px 6px;
        font-size: 10px;
    }
}
