.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

.filters {
    display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 10px;
    width: 100%;
    left: 100px;
    padding: 20px;
    border-radius: 8px;
    flex-wrap: wrap;
    max-width: 700px !important ;
    margin-bottom: -20px;
    margin-left: -10%;
}

.filterGroup {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.filterButton {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    font-size: 14px;
    &:hover {
        background-color: #ffab21;
    }

    &::before {
        content: "•";
        margin-right: 5px;
    }

    &.active::before {
        content: "✔";
        color: #007bff;
    }

    @media (max-width: 768px) {
        padding: 5px 8px;
        font-size: 12px;
    }

    @media (max-width: 480px) {
        padding: 3px 6px;
        font-size: 10px;
    }
}

.ramyunListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
}

.ramyunList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
}

.ramyunItem {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height: 245px; // 높이를 조정하여 글자가 들어갈 공간 확보
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; // 아이템들 사이에 공간을 고르게 배치
    &:hover {
        border-color: #ffab21; /* 테두리 색상 변경 */
    }
}

.ramyunImg {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: cover;
}

h3 {
    width: 100%;
    height: 40px; // 텍스트 컨테이너의 고정 높이 설정
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; // 필요시 글자 크기 조정
    text-align: center; // 텍스트 중앙 정렬
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

    button {
        color: #333;
        border: none;
        background-color: #fff0d8;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }

        &.activePage {
            background-color: #ffab21;
        }

        @media (max-width: 768px) {
            padding: 8px 15px;
            font-size: 12px;
        }

        @media (max-width: 480px) {
            padding: 5px 10px;
            font-size: 10px;
        }
    }

    span {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }

    .prevButton,
    .nextButton {
        background: hsl(211, 64%, 54%);
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }

        @media (max-width: 768px) {
            padding: 8px 15px;
            font-size: 12px;
        }

        @media (max-width: 480px) {
            padding: 5px 10px;
            font-size: 10px;
        }
    }
}

@media (max-width: 768px) {
    .ramyunListContainer {
        padding: 10px;
        // max-width: 90%;
        width: 360px;
    }

    .ramyunItem {
        width: 100px;
        height: 150px; // 높이를 조정하여 글자가 들어갈 공간 확보
    }

    .ramyunImg {
        width: 75px;
        height: 75px;
    }

    h3 {
        font-size: 13px;
        height: 20px; // 텍스트 컨테이너의 고정 높이 설정
    }

    .filters {
        // padding: 5px;
        margin-left: -30%;
        // max-width: 80%;
        left: 100px;
    }

    .filterButton {
        padding: 5px 8px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .ramyunListContainer {
        padding: 5px;
        max-width: 100%;
    }

    .ramyunItem {
        width: 75%;
        height: auto;
    }

    .ramyunImg {
        width: 75%;
        height: auto;
    }

    h3 {
        font-size: 13px;
        height: 20px; // 텍스트 컨테이너의 고정 높이 설정
    }

    .filters {
        // padding: 5px;
        margin-left: -7%;
        // max-width: 80%;
        margin-bottom: -30px;
    }
    .filterButton {
        padding: 3px 6px;
        font-size: 12px;
    }
}

.starRating {
    display: flex;
    align-items: center;
    font-size: 16px; /* Adjust the size as needed */
    margin-bottom: 5px; /* Add some space between the star rating and other elements */
}

.starRating span {
    margin-left: 5px; /* Add some space between the star and the rating text */
    font-weight: bold; /* Make the rating text bold */
}

.reviewCount {
    margin-top: 10px;
    font-size: 15px; /* Adjust the size as needed */
    color: #666; /* Adjust the color as needed */
    margin-bottom: 10px; /* Add some space between the review count and the image */
}
.filterContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;

    max-width: 740px;

    margin: 0 auto 20px auto; /* 가운데 정렬과 아래 여백 추가 */
}

.filterRow {
    display: flex;
    gap: 20px;
    border-top: 1px solid #ddd;
    align-items: flex-start; /* 상단 정렬 */
}

.filterTitles {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 12px 8px;
    padding-left: 10px;
    color: #fff;

    margin-right: -17px;
    background-color: #525f788e;
}

.filterGroups {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-grow: 1;
}

.filterGroupContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ddd;

    // border-top: 1px solid #ddd;
    padding-top: 10px;
}

.filterGroupContainer:first-child {
    padding-top: 7px;

    // border-top: 1px solid #ddd;
}

.filterGroup {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

// .filterGroup p {
//     font-size: 16px;
//     color: #333;
//     margin-right: 10px; /* 제목과 체크박스 간 간격 추가 */
//     min-width: 80px;
// }

.filterGroup label {
    display: flex;
    margin-left: 10px;
    align-items: center;
    margin-right: 4px; /* 각 라벨 간 간격 추가 */
    margin-top: -10px !important;
    margin-bottom: -4px !important;
    padding: 3px 7px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filterGroup label.active {
    background-color: #ffab21;
    color: #fff;
}

.filterGroup input {
    display: none; /* 기본 체크박스 숨기기 */
}
@media (max-width: 768px) {
    .filterRow {
        flex-direction: row;
    }

    .filterGroups {
        gap: 0px;
    }

    .filterTitles {
        padding: 10px 5px;
        gap: 14.5px;
    }

    .filterGroupContainer {
        padding-top: 5px;
        border-bottom: 1px solid #ddd;
    }

    .filterGroup label {
        margin-right: -5px;
        padding: 3px 5px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .filterGroupContainer:first-child {
        padding-top: 4px;

        // border-top: 1px solid #ddd;
    }
    .filterRow {
        flex-direction: row;
        gap: 5px;
    }

    .filterTitles,
    .filterGroups {
        gap: 0px;
        margin-right: -2px;
    }

    .filterTitles {
        padding: 8px 5px;
        gap: 21px;
        font-size: 13px;
    }

    .filterGroupContainer {
        gap: 5px;
        padding-top: 0px;
        border-bottom: 1px solid #ddd;
    }

    .filterGroup p {
        font-size: 12px;
        margin-right: 5px;
        min-width: 60px;
    }

    .filterGroup label {
        margin-right: 5px;
        padding: 3px 4px;
        padding-top: -1px;
        font-size: 10px;
        margin-top: -3px !important;
        margin-bottom: -3px !important;
    }
}
.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* 필요에 따라 정렬 방식 변경 가능 */
    margin-bottom: 20px; /* 입력창과 버튼 사이에 여백 추가 */
}

.searchInput {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    border-color: #007bff;
    outline: none;
}

.searchButton {
    margin-top: 0px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffab21;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .searchContainer {
        margin-bottom: 15px; /* 입력창과 버튼 사이에 여백 추가 */
    }
    .searchInput {
        width: 220px;
        padding: 8px;
        font-size: 14px;
    }

    .searchButton {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .searchContainer {
        align-items: stretch;
    }

    .searchInput {
        width: 225px;
        padding: 8px;
        font-size: 14px;
        margin-bottom: 10px; /* Add margin to separate input and button on small screens */
    }

    .searchButton {
        width: 25%;
        padding: 0px;
        height: 35px;
        font-size: 13px;
    }
}
