.myReviewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 700px;
    margin: 0 auto;
}

.thumbs-up-icon {
    cursor: pointer;
    transition: color 0.3s;

    &.solid {
        color: red;
    }

    &:hover {
        color: #f39c12;
    }
}

.myReviewsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.reviewItem {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 650px; /* Fixed width for items */
    height: px; /* Fixed height for items */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &:hover {
        border-color: #ffab21;
    }
}

.reviewContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: -10px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.reviewItem img {
    width: 150px;
    height: 150px !important;
    border-radius: 8px;
}

h3 {
    width: 100%;
    height: 30px;
    margin-top: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    text-align: center;
    margin-bottom: -24px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;

    button {
        color: #333;
        border: none;
        background-color: #fff0d8;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }

        &.activePage {
            background-color: #ffab21;
        }

        @media (max-width: 768px) {
            padding: 8px 15px;
            font-size: 12px;
        }

        @media (max-width: 480px) {
            padding: 5px 10px;
            font-size: 10px;
        }
    }

    span {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
}

.noReviews {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 18px;
    color: #888;
}

.recommendCount {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating {
    margin-top: 10px;
}

.date {
    margin-top: 4px !important;
    font-size: 12px;
    margin-left: 90%;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 5px; /* Space between stars */
}

@media (max-width: 768px) {
    .myReviewsContainer {
        padding: 10px;
        width: 360px;
    }

    .reviewItem {
        width: 300px; /* Adjust width for smaller screens */
        height: 200px; /* Fixed height for items */
        padding: 10px;
    }

    .reviewItem img {
        width: 100px;
        height: 100px;
    }

    h3 {
        font-size: 16px;
        height: 30px;
        margin-bottom: 10px;
    }

    .recommendCount,
    .rating,
    .date {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .myReviewsContainer {
        padding: 0px;
        width: 100%;
    }

    .reviewItem {
        width: 100%;
        max-width: 300px;
        height: 200px; /* Fixed height for items */
        padding: 10px;
    }

    .reviewItem img {
        width: 75px;
        height: 75px;
    }

    h3 {
        margin-top: 7px;
        font-size: 14px;
        height: 20px;
    }

    .recommendCount,
    .rating,
    .date {
        font-size: 10px;
    }
}
