.accountPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    border-radius: 8px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        padding: 15px;
        max-width: 100%;
    }

    @media (max-width: 480px) {
        padding: 10px;
    }
}

.contentWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnWrapper {
    width: 100%;
    height: auto;
}

.tabContainer {
    display: flex;
    margin-right: 250px;
    justify-content: flex-start;
    gap: 2px;
    @media (max-width: 768px) {
        justify-content: center;
        margin-right: 0;
    }

    @media (max-width: 480px) {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.tabButton {
    padding: 10px 20px;
    border: none;
    background-color: #ffab12;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &.active {
        background-color: #e1850c;
        border-radius: 4px 4px 0 0;
    }

    &:hover:not(.active) {
        background-color: #e99600;
    }
    @media (max-width: 480px) {
        flex: 1 1 auto; /* Flex grow and shrink to fill available space */
        text-align: center;

        margin: 5px 2px; /* Adjust margin for better spacing */
        max-width: 150px; /* Optional: Limit the maximum width */
        white-space: nowrap; /* Prevent text from wrapping to the next line */
    }
}

.tabContent {
    background-color: #fff9e6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 50px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabPane {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.inputContainer,
.nicknameContainer,
.passwordContainer {
    display: flex;
    // justify-content: center;
    align-items: center;
    // margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    position: relative;
}

.deleteAccountPassword,
.changeNicknameInput,
.currentPassword,
.newPassword,
.confirmNewPassword {
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    border: black 1px solid;
    width: 100px;
    // width: 150px !important; /* 원하는 너비로 설정 */
    &:focus {
        border-color: #387adf;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.passwordIcon {
    position: relative;
    right: 25px;
    top: 50%;
    margin-top: -20px;
    transform: translateY(-50%);
    cursor: pointer;
}

.checkPasswordBtn,
.checkNicknameBtn {
    padding: 10px;
    border: none;
    background-color: #ff9100;
    color: white;
    cursor: pointer;
    margin-top: -2px !important;
    position: relative;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 60px;
    margin-left: 10px;
    margin-right: 20px !important;
    font-size: 13px;
    &:hover {
        background-color: #ed8600;
    }
}

.errorMessage {
    color: red;
    // margin-bottom: 10px;
    font-size: 14px;
}

.successMessage {
    color: green;
    // margin-bottom: 10px;
    font-size: 14px;
}

.deleteAccountBtn,
.changeNicknameBtn,
.changePasswordBtn {
    padding: 10px 20px;
    border: none;
    background-color: #ff6347;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 10px;

    &:hover {
        background-color: #ff6347;
    }

    &:disabled {
        background-color: #6c757d;
        cursor: not-allowed;
    }
}

.inputContainer > input,
.nicknameContainer > input,
.passwordContainer > input {
    flex-grow: 1;
}

// .inputContainer,
// .nicknameContainer,
// .passwordContainer {
//     justify-content: center;
// }

.checkPasswordBtn {
    margin-left: -13px;
    margin-bottom: -1px;
    // align-self: flex-start;
}

.checkNicknameBtn {
    margin-left: 5px;
    margin-bottom: -1px;
    // align-self: flex-start;
}
.deleteicon {
    margin-top: 15px !important;
}
.deleteicon1 {
    margin-top: 13px !important;
}
