.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e74c3c;
    // border-radius: 10px;
    width: 97.1%;
    margin-bottom: 0px;
    height: auto;

    padding: 20px; /* 추가: 패딩을 추가하여 내부 여백 확보 */
}

.stack-section {
    display: flex;
    align-items: flex-start;
    justify-content: center; /* 중앙 정렬 */
    // width: 100%;
    text-align: center;
    flex-wrap: wrap; /* 추가: 작은 화면에서 요소가 자동으로 줄바꿈되도록 설정 */
    div:not(:last-child) {
        margin-right: 40px; /* 오른쪽 마진을 40px로 설정하여 간격을 넓힘 */
    }
}

.logo-section img {
    width: 100%;
    max-width: 300px; /* 최대 로고 크기 */
    height: auto; /* 비율 유지 */
    margin-right: 150px;
    display: flex;
}

.github-icon {
    display: flex; /* Flexbox를 사용하여 정렬 */
    margin-left: 20px;
    margin-right: 15px;
    font-size: 4em; /* 기본 폰트 크기 */
    align-self: center; /* 세로 중앙 정렬 */
    margin-top: 10px;
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
}

/* 미디어 쿼리를 추가하여 다양한 화면 크기에 맞춰 조정 */
@media (max-width: 1024px) {
    .stack-section {
        justify-content: center; /* 너비가 좁아지면 중앙 정렬 */
        margin-right: 0; /* 고정된 마진 제거 */
        div:not(:last-child) {
            margin-right: 20px; /* 더 작은 화면에서는 간격 줄이기 */
        }
    }

    .logo-section img {
        margin-right: 20px; /* 모바일에서 로고 간격 조정 */
    }

    .github-icon {
        margin-right: 20px;
        font-size: 3em; /* 폰트 크기 조정 */
    }
}

@media (max-width: 768px) {
    .stack-section {
        flex-direction: row; /* 가로로 배열 유지 */
        align-items: center; /* 세로 중앙 정렬 */
        justify-content: center; /* 중앙 정렬 */
        flex-wrap: nowrap; /* 줄바꿈 방지 */
    }

    .logo-section img {
        max-width: 200px; /* 로고 크기 조정 */
        margin-right: 0; /* 오른쪽 마진 제거 */
    }

    .github-icon {
        font-size: 2em; /* 폰트 크기 조정 */
    }
}

@media (max-width: 480px) {
    .stack-section {
        flex-direction: row; /* 가로로 배열 유지 */
        justify-content: center; /* 중앙 정렬 */
        font-size: 10px;
        div:not(:last-child) {
            margin-right: 10px; /* 더 작은 화면에서는 간격 줄이기 */
        }
    }

    .logo-section img {
        max-width: 150px; /* 로고 크기 더 줄이기 */
    }

    .github-icon {
        font-size: 1.6em; /* 폰트 크기 더 줄이기 */
    }
}
