.banners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Center the banners vertically */
    gap: 5px; /* Add space between banners */
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner {
    position: relative;
    width: calc(50% - 10px); /* Adjust width for two banners per row, accounting for gap */
    max-width: 250px;
    height: 170px; /* Set a fixed height for all banners */
    margin: 5px; /* Reduce margin */
    border-radius: 10px; /* Create more rounded corners on the banner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    overflow: hidden; /* Hide overflow to ensure rounded corners */
    transition: transform 0.3s ease; /* Add transition for hover effects */
    cursor: pointer; /* Apply pointer cursor to banner */
}

.banner:hover {
    transform: scale(1.05); /* Slightly scale up the banner on hover */
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the banner completely */
}

.banner-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Remove underline from link */
    cursor: pointer; /* Apply pointer cursor to banner link */
}

@media (max-width: 768px) {
    .banners-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px; /* Reduce gap for smaller screens */
        justify-content: center; /* Center the banners horizontally */
    }

    .banner {
        width: 100%; /* Increase width for smaller screens */
        max-width: none;
        height: 180px; /* Ensure height remains consistent */
        margin: 1px 0px; /* Reduce margin */
    }
}

@media (max-width: 480px) {
    .banners-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px; /* Reduce gap for smaller screens */
        justify-content: center; /* Center the banners horizontally */
    }

    .banner {
        width: 100%; /* Increase width for smaller screens */
        max-width: none;
        height: 150px; /* Ensure height remains consistent */
        margin: 1px 3px; /* Reduce margin */
    }

    .banner-text {
        font-size: 18px;
    }
}
