@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

body {
    font-family: "Nanum Gothic", sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.tournament {
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.matchup-container {
    margin-bottom: 20px;
}

.matchup-header {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #007bff;
}

.matchup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 0;

    .vs {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        font-weight: bold;
        color: #e74c3c;
        z-index: 2;
        background-color: #fff;
        padding: 0 10px;
    }

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 80%;
        width: 2px;
        background-color: #e74c3c;
        z-index: 0;
    }
}

.ramen-option {
    flex: 1;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 2px solid #ddd;
        transition: transform 0.3s, border-color 0.3s;
    }

    div {
        font-size: 25px;
        font-weight: bold;
        color: #333;
    }

    &:hover {
        background-color: #f1f1f1;
        transform: scale(1.05);
        img {
            transform: scale(1.05);
            border-color: #007bff;
        }
    }
}

.final-screen {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
        font-size: 26px;
        color: #e74c3c;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .champion-img {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .champion-img img {
        width: 100%;
        max-width: 300px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    button {
        padding: 12px 24px;
        margin: 5px;
        font-size: 16px;
        color: #ffffff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3;
    }

    .share-button {
        background-color: #28a745;
    }

    .share-button:hover {
        background-color: #218838;
    }

    .kakao-share-button {
        background-color: #fee500;
        color: #3c1e1e; // 글씨 색 변경
    }

    .kakao-share-button:hover {
        background-color: #fcc900;
    }
}

/* 반응형 디자인 */
@media (max-width: 1200px) {
    .ramen-option img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 992px) {
    .ramen-option img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .ramen-option img {
        width: 150px;
        height: 150px;
    }

    .footer-container {
        padding: 10px;
    }

    .stack-section {
        font-size: 12px;
        div:not(:last-child) {
            margin-right: 10px;
        }
    }

    .github-icon {
        font-size: 2em;
    }
}

@media (max-width: 576px) {
    .matchup {
        flex-direction: column;
    }

    .ramen-option {
        margin: 20px 0;
        z-index: 2;
    }

    .ramen-option img {
        width: 100px;
        height: 100px;
    }

    .vs {
        position: static;
        transform: none;
        margin: 10px 0;
        font-size: 24px;
        z-index: 1;
    }

    .matchup:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 2px;
        width: 100%;
        background-color: #e74c3c;
        z-index: 0;
    }

    .footer-container {
        padding: 5px;
    }

    .stack-section {
        font-size: 10px;
        div:not(:last-child) {
            margin-right: 5px;
        }
    }

    .github-icon {
        font-size: 1.5em;
    }
}
