/* ReviewForm.scss */
.review-form {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Nanum Gothic", sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.form-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.review-textarea {
    resize: vertical; /* 수직으로만 리사이즈 가능 */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    height: auto;
    max-height: 3em; /* 2줄 높이로 설정 */
    line-height: 1.5em; /* 줄 간격 설정 */
    overflow-y: auto; /* 수직 스크롤 */

    &:focus {
        border-color: #387adf;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.star-rating {
    display: flex;

    .star {
        font-size: 24px;
        color: #ccc;
        cursor: pointer;
        transition: color 0.3s;

        &.filled {
            color: #f39c12;
        }

        &:hover {
            color: #f39c12;
        }
    }
}

.file-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:hover {
        border-color: #387adf;
    }

    &:focus {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
}

.photo-preview {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-left: 63px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: contain;
}

.photo-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 8px;

    margin-right: 54px;
    margin-top: -5px;
    background-color: rgb(231, 76, 60);
    opacity: 0.6;
    color: white;
    border: none;

    // border-radius: 50%;

    // width: 15px !important;
    height: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;

    &:hover {
        background-color: rgb(231, 76, 60);
        opacity: 1;
        transform: none;
    }

    &:disabled {
        background-color: rgb(231, 76, 60);
        cursor: not-allowed;
    }
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.submit-button,
.cancel-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-right: -7px;

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

.submit-button {
    background-color: #387adf;
    color: white;

    &:hover {
        background-color: #0056b3;
    }
}

.cancel-button {
    background-color: #ff6347 !important;
    color: white;

    &:hover {
        background-color: #d35400;
    }
}

@media (max-width: 768px) {
    .review-form {
        padding: 15px;
        width: 90%;
    }

    .review-textarea {
        font-size: 14px;
    }

    .star-rating .star {
        font-size: 20px;
    }

    .file-input {
        font-size: 14px;
    }

    .submit-button,
    .cancel-button {
        padding: 10px 15px;
        font-size: 14px;
    }
}
