.modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    border: 2px solid #ffab21;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ed8600;
}

.modal-content input {
    display: block;
    width: calc(100% - 20px);
    margin: 1px auto !important;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background: #fff5e1;
}

.modal-content .userid {
    top: 20px;
}

.modal-content .nickname {
    top: 6px;
}

.input-container {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.modal-content .nickname,
.modal-content .userid {
    position: relative;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    margin-left: 10px;
}

.modal-content .nickname input,
.modal-content .userid input {
    flex: 1;
    width: 70%;
    margin-right: 10px;
}

.modal-content .checkIdBtn,
.modal-content .checkNicknameBtn {
    padding: 10px 0;
    background-color: #ff9100;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    width: 60px;
    height: 44px;
    margin-top: 10px;
    margin-left: 3px;
}

.modal-content .checkIdBtn:hover,
.modal-content .checkNicknameBtn:hover {
    background-color: #ed8600;
}

.modal-content .confirm-password {
    position: relative;
    margin-top: 20px !important;
}

.modal-content .confirm-password .error-message {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;

    // margin-top: 2px;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
}
.modal-content .password {
    margin-top: 15px !important;
    margin-bottom: 1px;
}
.modal-content .error-message {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 14px;
}

.userid .useridInput {
    margin-bottom: 15px;
}

.modal-content .error-message.valid {
    // margin-top: 15px;
    color: green;
}

.modal-content .error-message.invalid {
    color: red;
    // margin-top: 15px;
}

.modal-content button {
    display: block;
    width: calc(100% - 20px);
    margin: 38px auto 10px; // 위쪽에 여유 공간 추가
    padding: 12px;
    background-color: #ff9100;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #ed8600;
}

.modal-content .remember-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.modal-content .remember-me input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    margin-top: 2px;
}
.usermsg {
    .error-message {
        // font-size: 14px;
        &.valid {
            color: green;
            margin-top: 15px !important;
        }
        &.invalid {
            color: red;
            margin-top: 15px !important;
        }
    }
}
.nickmsg {
    // margin-top: -13px !important;
    .error-message {
        // font-size: 14px;
        &.valid {
            margin-top: 0px !important;
            color: green;
        }
        &.invalid {
            color: red;
            margin-top: 0px !important;
        }
    }
}
.passmsg {
    .error-message {
        // font-size: 14px;
        &.valid {
            margin-top: 0px !important;
            color: green;
        }
        &.invalid {
            color: red;
            margin-top: 0px !important;
        }
    }
}
.modal-content .remember-me label {
    font-size: 14px;
    margin-right: 230px;
    margin-top: 2px;
}

.modal-content .links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-content .links a,
.modal-content .links span {
    color: #ed8600;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s;
}

.modal-content .links a:hover,
.modal-content .links span:hover {
    color: #ed8600;
}
.modal-content .kakao {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0px;
    background-color: #fee500;
    color: #3c1e1e;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.modal-content .kakao:hover {
    background-color: #fcc900;
}

@media (max-width: 600px) {
    .modal-content .kakao {
        padding: -10px;
        height: 43px;
    }
}
/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 600px) {
    .modal-content {
        width: 95%;
        padding: 30px 20px;
    }

    .modal-content h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .modal-content input {
        padding: 10px;
        font-size: 14px;
    }

    .modal-content button {
        padding: 10px;
        font-size: 14px;
    }

    .modal-content .checkIdBtn,
    .modal-content .checkNicknameBtn {
        padding: 8px 0;
        font-size: 10px;
        width: 50px;
    }
}
